/*! @theme my-theme

    @author Glenn Jenkins
*/

@import 'default';

section.lead {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  text-align: center;
  color: #003366;
}

h1 {
    color: #003366;
}

/* This is slightly dodgy, it'll only be required as a work 
around if the developers of Marp don't add alt-text to images
which are backgrounds */
/*
section.lead img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
*/
